.header {
    width: 100%;
    display: inline-block;
    align-items: center;
    padding-right: 80px;
    padding-left: 80px;
    background-color: white;
    font-size: 18px;
    font-family: sans-serif;
    height: 120px;
}
.title {
    font-size: 36px; 
    font-weight: bold;
    display: block;
    color: #242424;
}
.main_grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 16px;
    font-family: sans-serif;
    padding-right: 80px;
    padding-left: 80px;
    background-color: white;
    color: gray;
}
.main_content {
    color: gray;
    margin-right: 30px;
    display: inline-block;
}
.content_wrapper {
    display:flex;
    padding-top: 20px;
    padding-bottom: 5px;
    justify-content: flex-start;
    align-items: center;
}
.button_container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.button{
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    text-decoration: none;   
    color: #242424;
}
.button:hover {
    background-color: #d4d4d4;
}
.button.button_large {
    height: 48px;
    width: 320px;
}
.button.button_medium {
    height: 40px;
    width: 140px;
}
.button_group {
    display:flex;
    align-items: flex-start;
    gap: 30px;
}
.section_title {
    font-size: 24px;
    color: #242424;
}
.organizer_wrapper {
    display: flex;
    gap: 20px;
}
.organizer_info {
    display: block;
}
.support_wrapper {
    display:flex;
    height: 100px;
}

.right_runner {
    margin-top: 20px;
    border: 3px solid #f5f5f0;
    border-radius: 10px;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    height: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.location_section {
    display: flex;
    align-items: center;
    gap: 10px;
}
.location_section img {
    flex-shrink: 0;
}
.runner_text {
    margin-top: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: gray;
    display: inline-block;
}
.donate_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 320px;
    background-image: linear-gradient(to top, #ff9100 0%, #ffb556 100%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #242424;
    text-decoration: none;
}
.donate_button:hover {
    background-image: linear-gradient(to bottom, #ff9100 0%, #ffb556 100%);
}
.donation_entry {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.donation_heart {
    max-width: 48px;
    max-height: 48px;
    margin-right: 20px;
}
.donation_details {
    flex-grow: 1;
}
.donation_name {
    margin: 0;
    color: #242424;
}
.donation_amount {
    margin: 0;
    font-weight: bold;
}
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fbf8f6;
    padding:80px;
    font-family: sans-serif;
    color:#242424;
}
.footer_section {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer_text {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer_text p{
    margin:0;
}